#banner{
	background-image: url("../images/apple-pie.jpg");
	width: 900px;
	height: 550px;
	background-size: 100% 100%;
}
#title{
	text-align: center;
	color: white;
	padding-top: 225px;
	padding-bottom: 225px;
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	font-weight: 500;
}
#summary{
	padding-top: 60px;
	width: 720px;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 18.5px;
	font-weight: 500;
	color: #8E8E8E;
	border-bottom: solid gray 2px;
}
#recipe{
	padding-top: 18px;
	padding-bottom: 18px;
}

#ingredients{
	width: 720px;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 18.5px;
	font-weight: 500;
	color: #8E8E8E;
	border-bottom: solid gray 2px;
}
#directions{
	width: 720px;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 18.5px;
	font-weight: 500;
	color: #8E8E8E;
}
h3{
	color: 272727;
}